<div *ngIf="bike">
  <mat-card>
    <mat-card-header [style.color]="bike.isAdmin | roleColor"><mat-card-title>
      Name:{{bike.name | uppercase}}
    </mat-card-title></mat-card-header>
    <mat-card-content>
      <h3>Number:{{bike.number}}</h3>
      <h4>
        <p>Model:{{bike.model}}</p>
        <p>Price:{{bike.price | currency: 'CAD': "symbol-narrow"}}</p>
        <p>Color:{{bike.color}}</p>
        <p [style.color]="bike.isAdmin | roleColor">IsAdmin: {{bike.isAdmin}}</p>
        <p>Manufacture Date:{{bike.manuDate | date:'fullDate'}}</p>

        <img ngSrc="{{bike.imgURL}}" width="200" height="200" alt="">
      </h4>

      <h3 [appHoverHighlight]="'white'">Custom Pipe with tax: {{ bike | bikeNameWithModel |currency: 'CAD': "symbol-narrow" }}</h3>

    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
  </div>


